<menubar>
  <div class="navbar pokenav navbar-default" role="navigation">
    <div class="container">
      <div id="Pikabutt" class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" id="Pikaamebutt" href="#">PikaMe</a>
      </div>
      <div class="navbar-collapse collapse">
        
        <ul class="nav navbar-nav navbar-right">
        {{#if user}}
           <li>
            <a id="logoutButt" href="/users/logout" id="logoutButt">Logout</a>
          </li>
        </ul>
        {{else}}
        <ul class="nav navbar-nav">
          <li>
            <a id="registerbutt" href="/users/register">Register</a>
          </li>
          <li>
            <a id="loginbutt" href="/users/login">Login</a>
         </li>
        </ul>
        {{/if}}

      </div>
    </div>
  </div>
</menubar>