<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="favicon.ico" />

    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>


    <title>Simple Chat App</title>
</head>

<body>
	{{> menubar}}

    <h1>Poke Chat</h1>
    
<!--     {{!-- <div id='leftbar'></div>
    <div id='rightbar'></div>
    <div id='pokebuddy1' class='img1'></div> --}} -->
    <section id="chatroom">
        <section id="feedback"></section>
    </section>
    <section id="input_zone">
        <input id="message" class="vertical-align" type="text" />
        <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/javascript/chat.js"></script>
</body>

</html>