<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Matching</title>
      <link rel="stylesheet" href="/stylesheets/bootstrap.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    {{> menubar}}
    <a href="/testchat">Testchat testing</a>
      <h2 id = "position">Match Page</h2>
      <button class="btn btn-primary" id="matchbtn">Click here to load users</button>
    <div id="matches">
      <div id="matchpic"></div>
      <div id="matchtext"></div>
    </div>
      <div id ='outerResult'>
        <div id = "resultArea"></div>
      </div>
</body>
<script src="/javascript/matchpage.js"></script>

</html>