<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta charset="utf-8">
    <title>Matching</title>
      <link rel="stylesheet" href="/stylesheets/bootstrap.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    {{> menubar}}
    <div id='leftbar'></div>
    <div id='rightbar'></div>
    <div id='pokebuddy' class='img1'></div>
    <div id="matches">
      <h2 id="position" class='page-header'>Match Page</h2>
      <button class="btn btn-primary" id="matchbtn">Click Here to Load Users</button>
      <div id="matchpic"></div>
      <div id="matchtext"></div>
      <div id="resultArea"></div>
    </div>
    
</body>
<script src="/javascript/matchpage.js"></script>

</html>