<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome</title>
      <link rel="stylesheet" href="/stylesheets/bootstrap.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  {{> menubar}}

	<div class="main-text hidden-xs">
  	<div class="col-md-12">
    	<h1 style="font-family: 'Lato'">PikaMe</h1>
    	<p style="font-family: 'Lato'"></p>Find your pokebuddy! 
    </div>
  	</div>
	</div>

<!-- 	<div class="containertwo">  
 -->  
      <form method="post" id = "regisform"action='/users/register',enctype='multipart/form-data'>
          <h2 class="page-header">Register</h2>
      <p>Please register using the form below</p>
        <div class="form-group"></div>
        <label>Email </label>
        <input class="form-control input-sm" id="inputsm" name="email" type="email" placeholder="Enter Email"/>
        <div class="form-group"></div>
        <label>Username </label>
        <input class="form-control input-sm" id="inputsm" name="username" type="text" placeholder="Enter User name"/>
        <div class="form-group"></div>
        <label>Password</label>
        <input class="form-control input-sm" id="inputsm" name="password" type="password" placeholder="Enter password"/>
        <div class="form-group"></div>
        <label>Confirm Passwords</label>
        <input class="form-control input-sm" id="inputsm" name="password2" type="password" placeholder="Confirm password"/>
        <br>
       <input class="btn btn-primary" type="submit" name="submit" value="Pick your pokemon"/>

      </form>
<!--   </div>
 -->

</body>

</html>